name: GitHub Actions Security Checker
on:
  push :
    branches:
      - master
    paths:
      - '.github/workflows/**'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/**'
  workflow_dispatch:

permissions: {}

jobs:
  check-gha:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: pexip/shared-github-actions/setup-zizmor-action@9ffc3740d59e8c4373766b832081e8e830672b15
        with:
          version: "latest"
          force: "false"
      - name: Run zizmor on all workflow files
        continue-on-error: true
        run: |
          for file in .github/workflows/*.yml; do
            zizmor --format=github "$file"
          done