name: GitHub Actions Security Checker
on:
  push :
    branches:
      - master
    paths:
      - '.github/workflows/**'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/**'
  workflow_dispatch:

permissions: {}

jobs:
  check-gha:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pexip/shared-github-actions/setup-zizmor-action@2e66b267fba3099dedb01447d9e2bd688dfc85ea
        with:
          version: "latest"
          force: "false"
      - name: Run zizmor on all workflow files
        continue-on-error: true
        run: |
          for file in .github/workflows/*.yml; do
            zizmor --format=github "$file"
          done